/*TABS*/
.tab-header-background {
	-fx-background-color: #01579B;
	-fx-alignment: center;
	-fx-fill-width: true;
}
/*____________________________________________________PANEL TRUE FALSE____________________________________________________ */
/*TOOGLE BUTTON */
#true-false-RadioButton {
	-fx-cursor: hand;
}
/*___________________________________________________-PANEL MULTIPLE CHOICE____________________________________________________ */
/*COMBO BOX */
#exercise-combo-box {
	-fx-background-color: transparent;
}
#exercise-combo-box .text-input {
	-fx-background-color: transparent;
}
#exercise-combo-box .list-cell {
	-fx-text-fill: black;
}
#exercise-combo-box .combo-box-popup .list-view .list-cell {
	-fx-background-radius: 10 10 10 30;
}
#exercise-combo-box .combo-box-popup .list-view .list-cell:odd:selected {
	-fx-background-color: transparent;
}
#exercise-combo-box .combo-box-popup .list-view .list-cell:even:selected {
	-fx-background-color: transparent;
}
#exercise-combo-box .combo-box-popup .list-view .list-cell:odd {
	-fx-background-color: transparent;
}
#exercise-combo-box .combo-box-popup .list-view .list-cell:even {
	-fx-background-color: transparent;
}
#exercise-combo-box .combo-box-popup .list-view .list-cell:even:hover {
	-fx-background-color: rgba(255,255,255,0.6);
}
#exercise-combo-box .combo-box-popup .list-view .list-cell:odd:hover {
	-fx-background-color: rgba(255,255,255,0.6);
}
#exercise-combo-box .combo-box-popup .list-view {
	-fx-background-color: rgba(255,255,255,0.95);
	-fx-background-radius: 0 0 10 10;
	-fx-opacity: 1;
}


/*___________________________________________________-PANEL INSERT____________________________________________________ */
/*TEXT FIELD */
#exercise-text-field {
	-fx-background-color: transparent;
}

/*______________________________________________________PANEL AUDIO____________________________________________________ */
/*BUTTON AUDIO*/
#exercise-audio-button{
	-fx-background-radius: 200;
}
#exercise-button-bar {
	-fx-background-color: #01579B;
}
#exercise-audio-textField {
	-fx-background-color: #03A9F4;
	-fx-background-radius: 5 10 10 5;
}
/*_____________________________________________________LIST VIEW____________________________________________________ */
/*LIST VIEW */
#exercise-listView .list-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-border-width: 0;
}
#exercise-listView .list-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}
xercise-number-label {
	-fx-text-fill: #BDBDBD
}

#trueFalseHeader {
	-fx-background-image: url('/images/TrueFalse.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
#multiHeader {
	-fx-background-image: url('/images/Multi.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
#completeHeader {
	-fx-background-image: url('/images/Complete.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;	
}
#audioHeader {
	-fx-background-image: url('/images/Audio.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;	
}
