.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.944824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.983398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.940918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.908203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.148207px;}
._1{width:1.056040px;}
._0{width:2.112079px;}
._3{width:3.648137px;}
._4{width:42.676656px;}
._5{width:565.151569px;}
.fc5{color:rgb(0,102,0);}
.fc0{color:rgb(192,0,0);}
.fc2{color:rgb(64,64,64);}
.fc4{color:rgb(0,112,192);}
.fc1{color:rgb(0,0,0);}
.fc3{color:rgb(90,90,90);}
.fs2{font-size:39.841500px;}
.fs1{font-size:44.161800px;}
.fs0{font-size:48.001803px;}
.y1a{bottom:224.760040px;}
.y19{bottom:248.160049px;}
.y35{bottom:251.640060px;}
.y18{bottom:262.680039px;}
.y17{bottom:277.200027px;}
.y34{bottom:279.120026px;}
.y33{bottom:292.560059px;}
.y16{bottom:304.560059px;}
.y32{bottom:321.000045px;}
.y15{bottom:333.120026px;}
.y1b{bottom:333.500000px;}
.y31{bottom:335.520035px;}
.y14{bottom:347.520035px;}
.y30{bottom:350.040024px;}
.y2f{bottom:364.440033px;}
.y13{bottom:375.000045px;}
.y2e{bottom:378.960022px;}
.y2d{bottom:393.480057px;}
.y12{bottom:403.440033px;}
.y11{bottom:417.960022px;}
.y2c{bottom:420.840042px;}
.y10{bottom:432.480057px;}
.yf{bottom:447.000045px;}
.y2b{bottom:449.400055px;}
.ye{bottom:461.400055px;}
.y2a{bottom:463.920044px;}
.yd{bottom:475.920044px;}
.y29{bottom:478.320053px;}
.yc{bottom:490.440033px;}
.y28{bottom:505.800041px;}
.yb{bottom:517.920044px;}
.y27{bottom:533.280052px;}
.ya{bottom:546.360054px;}
.y9{bottom:560.880043px;}
.y26{bottom:561.720039px;}
.y8{bottom:575.280052px;}
.y25{bottom:589.200051px;}
.y24{bottom:602.520035px;}
.y7{bottom:602.760040px;}
.y6{bottom:629.760040px;}
.y23{bottom:631.080048px;}
.y22{bottom:645.600036px;}
.y5{bottom:658.320042px;}
.y21{bottom:660.000045px;}
.y20{bottom:674.520046px;}
.y4{bottom:682.080048px;}
.y1f{bottom:689.040047px;}
.y0{bottom:703.500000px;}
.y1e{bottom:703.560047px;}
.y3{bottom:705.480045px;}
.y1d{bottom:730.920044px;}
.y2{bottom:732.960045px;}
.y1c{bottom:759.840042px;}
.y1{bottom:760.080042px;}
.h1{height:1.000000px;}
.h6{height:30.663125px;}
.h2{height:34.782556px;}
.h3{height:35.536448px;}
.h5{height:36.610750px;}
.h4{height:38.626451px;}
.h0{height:841.920040px;}
.w1{width:4.500000px;}
.w2{width:21.500000px;}
.w0{width:595.320010px;}
.x1{left:56.639998px;}
.x2{left:74.639998px;}
.x3{left:92.639998px;}
.x4{left:287.000000px;}
.x0{left:291.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.530942pt;}
._1{width:1.408053pt;}
._0{width:2.816106pt;}
._3{width:4.864183pt;}
._4{width:56.902208pt;}
._5{width:753.535425pt;}
.fs2{font-size:53.122000pt;}
.fs1{font-size:58.882400pt;}
.fs0{font-size:64.002404pt;}
.y1a{bottom:299.680054pt;}
.y19{bottom:330.880066pt;}
.y35{bottom:335.520081pt;}
.y18{bottom:350.240052pt;}
.y17{bottom:369.600037pt;}
.y34{bottom:372.160035pt;}
.y33{bottom:390.080079pt;}
.y16{bottom:406.080079pt;}
.y32{bottom:428.000061pt;}
.y15{bottom:444.160035pt;}
.y1b{bottom:444.666667pt;}
.y31{bottom:447.360047pt;}
.y14{bottom:463.360047pt;}
.y30{bottom:466.720032pt;}
.y2f{bottom:485.920044pt;}
.y13{bottom:500.000061pt;}
.y2e{bottom:505.280030pt;}
.y2d{bottom:524.640076pt;}
.y12{bottom:537.920044pt;}
.y11{bottom:557.280030pt;}
.y2c{bottom:561.120057pt;}
.y10{bottom:576.640076pt;}
.yf{bottom:596.000061pt;}
.y2b{bottom:599.200074pt;}
.ye{bottom:615.200074pt;}
.y2a{bottom:618.560059pt;}
.yd{bottom:634.560059pt;}
.y29{bottom:637.760071pt;}
.yc{bottom:653.920044pt;}
.y28{bottom:674.400055pt;}
.yb{bottom:690.560059pt;}
.y27{bottom:711.040070pt;}
.ya{bottom:728.480072pt;}
.y9{bottom:747.840058pt;}
.y26{bottom:748.960053pt;}
.y8{bottom:767.040070pt;}
.y25{bottom:785.600068pt;}
.y24{bottom:803.360047pt;}
.y7{bottom:803.680054pt;}
.y6{bottom:839.680054pt;}
.y23{bottom:841.440064pt;}
.y22{bottom:860.800049pt;}
.y5{bottom:877.760056pt;}
.y21{bottom:880.000061pt;}
.y20{bottom:899.360062pt;}
.y4{bottom:909.440064pt;}
.y1f{bottom:918.720063pt;}
.y0{bottom:938.000000pt;}
.y1e{bottom:938.080063pt;}
.y3{bottom:940.640061pt;}
.y1d{bottom:974.560059pt;}
.y2{bottom:977.280060pt;}
.y1c{bottom:1013.120057pt;}
.y1{bottom:1013.440056pt;}
.h1{height:1.333333pt;}
.h6{height:40.884166pt;}
.h2{height:46.376742pt;}
.h3{height:47.381931pt;}
.h5{height:48.814334pt;}
.h4{height:51.501934pt;}
.h0{height:1122.560053pt;}
.w1{width:6.000000pt;}
.w2{width:28.666667pt;}
.w0{width:793.760013pt;}
.x1{left:75.519997pt;}
.x2{left:99.519997pt;}
.x3{left:123.519997pt;}
.x4{left:382.666667pt;}
.x0{left:388.000000pt;}
}
